@media(max-width: 1200px) {
    .container {
        width: 800px;
    }

    .mainIframe {

        .grid3 {

            iframe {
                width: 600px;
                height: 500px;
            }
        }
    }

    
}


@media(max-width: 850px) {
    .grid-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .mainNosotros img {
        width: 800px;
        height: 500px;
        overflow: hidden;
    }

    .container {
        width: 500px;
    }

    .mainIframe {

        .grid3 {

            iframe {
                width: 400px;
                height: 500px;
            }
        }
    }
}


@media(max-width: 680px) {
    .header {
        flex-direction: column;
    }

    .mainIndex img {
        width: 500px;
        height: 300px;
    }


    .mainNosotros img {
        width: 300px;
        height: 300px;
    }

    .container {
        width: 300px;
    }

    .mainIframe {

        .grid3 {

            iframe {
                width: 300px;
                height: 500px;

            }
        }
    }
}

@media(max-width: 575px) {
    .container {
        width: 200px;
    }

    .mainIframe {

        .grid3 {

            iframe {
                width: 200px;
                height: 500px;
            }
        }
    }

    
}