@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Josefin+Sans:wght@100;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.header a {
  color: inherit;
  text-decoration: none;
  background: linear-gradient(to right, #d9d9d9, #d9d9d9), linear-gradient(to right, red, #ff00b4, #0064c8);
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms; }
  .header a:hover {
    background-size: 0 3px, 100% 3px;
    color: black;
    text-shadow: 1px 0 10px #46083e;
    transition: 300ms; }

.header ul {
  display: flex;
  list-style: none;
  justify-content: center;
  flex-wrap: wrap; }

.header li {
  margin: 5px;
  padding: 5px;
  border: none;
  background-color: #d9d9d9;
  font-size: 20px; }
  .header li:hover {
    transform: scale(1.05); }

.header__logo {
  display: flex;
  justify-content: center; }
  .header__logo img {
    width: 250px;
    padding: 15px; }
    .header__logo img:hover {
      transform: scale(1.1); }

.header nav .breadcrumb {
  margin-left: 20px; }

.header nav .formulario {
  display: flex; }

.header nav .campoDebusqueda {
  width: 100%;
  padding: 10px 15px 10px 15px;
  border: none;
  border-radius: 100px;
  outline: none; }

.header nav .container {
  margin: 50px auto;
  width: 40%;
  height: 30px; }

.header nav .botonDebusqueda {
  background: transparent;
  border: none;
  outline: none;
  margin-left: -25px; }

.header nav .botonDebusqueda img {
  width: 20px;
  height: 20px;
  object-fit: cover; }

.mainNosotros {
  max-width: 1200px;
  margin: auto; }
  .mainNosotros img {
    width: 1200px;
    height: 500px; }
  .mainNosotros div {
    display: flex;
    justify-content: center; }
  .mainNosotros p {
    margin: 15px;
    text-align: center; }
  .mainNosotros h1 {
    margin: 50px; }

.modelos {
  display: flex;
  flex-direction: column;
  align-items: center; }

.mainIndex {
  max-width: 1200px;
  margin: auto; }
  .mainIndex p {
    margin: 15px; }

.mainIframe h1 {
  text-align: center; }

.mainIframe .grid3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 1200px;
  margin: auto;
  justify-content: center;
  justify-items: center;
  grid-row-gap: 5px; }
  .mainIframe .grid3 .row {
    display: flex;
    flex-direction: column; }
  .mainIframe .grid3 div {
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    margin-right: 20%; }
  .mainIframe .grid3 p {
    margin: 15px;
    float: left; }
  .mainIframe .grid3 li {
    font-family: "Dancing Script", cursive;
    font-size: 26px; }
  .mainIframe .grid3 iframe {
    width: 600px;
    height: 500px; }
    .mainIframe .grid3 iframe:hover {
      transform: scale(1.2);
      transition: 300ms; }

.footer p {
  text-align: center;
  margin: 10px; }

.footer a {
  padding: 5px;
  margin: 20px; }
  .footer a:hover {
    transform: scale(1.1);
    transition: 300ms; }

.footer div {
  display: flex;
  justify-content: center; }

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  justify-items: center;
  align-items: end;
  width: 1000px;
  margin: auto; }
  .grid-container .card {
    border-radius: 30px; }
    .grid-container .card:hover {
      transform: scale(1.05);
      transition: 500ms; }
  .grid-container .card-text {
    color: black;
    font-family: .grid-container .card-text tipografiaG; }
  .grid-container .btn {
    background-color: black;
    color: #d9d9d9;
    border-color: black; }
  .grid-container .card-body {
    background-color: #b4b4b4; }
  .grid-container .card-title {
    color: black; }
  .grid-container .card-img-top {
    height: 400px; }

.contactForm {
  max-width: 1000px;
  margin: auto; }
  .contactForm h1 {
    margin-bottom: 60px; }
  .contactForm form {
    align-items: center; }
  .contactForm input:focus {
    border-radius: 10px;
    background-color: #6ca7ff;
    transition: all 500ms; }

body {
  background-color: #d9d9d9 !important; }

main {
  min-height: 80vh; }

h1 {
  font-family: "Josefin Sans", sans-serif;
  text-align: center; }

h3 {
  font-family: "Dancing Script", cursive;
  color: black;
  text-align: center;
  word-spacing: 0.5px;
  margin: 20px; }

p {
  font-family: "Dancing Script", cursive;
  text-indent: 10px;
  letter-spacing: 1px;
  font-size: 26px; }

ul {
  background-color: #d9d9d9;
  padding: 20px;
  list-style-type: none;
  text-align: center; }

li {
  font-family: "Josefin Sans", sans-serif; }

@media (max-width: 1200px) {
  .container {
    width: 800px; }
  .mainIframe .grid3 iframe {
    width: 600px;
    height: 500px; } }

@media (max-width: 850px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    width: 600px;
    align-items: center; }
  .mainNosotros img {
    width: 800px;
    height: 500px; }
  .mainIndex p {
    margin: 15px; }
  .container {
    width: 500px; }
  .mainIframe .grid3 iframe {
    width: 400px;
    height: 500px; } }

@media (max-width: 680px) {
  .header {
    flex-direction: column; }
  .mainIndex img {
    width: 500px;
    height: 300px; }
  .mainNosotros img {
    width: 500px;
    height: 300px; }
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
    width: 300px;
    align-items: center; }
    .grid-container .card {
      margin-bottom: 15px; }
  .container {
    width: 300px; }
  .mainIframe .grid3 iframe {
    width: 300px;
    height: 500px; } }

@media (max-width: 575px) {
  .container {
    width: 200px; }
  .mainIframe .grid3 iframe {
    width: 200px;
    height: 500px; } }
