@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;400;700&family=Montserrat:wght@100;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header a {
  color: inherit;
  text-decoration: none;
  background: linear-gradient(to right, #d9d9d9, #d9d9d9), linear-gradient(to right, red, #ff00b4, #0064c8);
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms; }
  header a:hover {
    background-size: 0 3px, 100% 3px;
    color: black;
    text-shadow: 1px 0 10px #46083e; }

ul {
  display: flex;
  list-style: none;
  justify-content: center;
  flex-wrap: wrap; }

li {
  margin: 5px;
  padding: 5px;
  border: none;
  background-color: #d9d9d9;
  font-size: 20px; }
  li:hover {
    transform: scale(1.05); }

.logo {
  display: flex;
  justify-content: center; }

.logo img {
  width: 250px;
  padding: 15px; }
  .logo img:hover {
    transform: scale(1.1); }

nav .formulario {
  display: flex; }

nav .campoDebusqueda {
  width: 100%;
  padding: 10px 15px 10px 15px;
  border: none;
  border-radius: 100px;
  outline: none; }

nav .container {
  margin: 50px auto;
  width: 1100px;
  height: 30px; }

nav .botonDebusqueda {
  background: transparent;
  border: none;
  outline: none;
  margin-left: -25px; }

nav .botonDebusqueda img {
  width: 20px;
  height: 20px;
  object-fit: cover; }

.mainNosotros div {
  display: flex;
  justify-content: center; }

.mainNosotros p {
  margin: 50px;
  padding: 10px 15px 10px 15px; }

.mainNosotros h1 {
  margin: 50px; }

.mainNosotros img {
  width: 800px;
  height: 700px; }

.modelos {
  display: flex;
  flex-direction: column;
  align-items: center; }

/* .main img {
    width: 200px;
    height: 300px;
    margin: 10px;
    padding: 15px;   
} */
.mainIndex {
  margin: 40px; }

.main div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap; }

.main p {
  margin: 50px;
  padding: 10px 15px 10px 15px; }

body {
  background-color: #d9d9d9 !important; }
  body h1 {
    font-family: 'Barlow Condensed', sans-serif !important; }

main {
  min-height: 80vh; }

h1 {
  font-family: 'Barlow Condensed', sans-serif;
  text-align: center;
  border: black 4px dashed;
  margin: 50px 100px 50px 100px;
  padding: 10px 35px 10px 15px; }

h3 {
  font-family: 'Barlow Condensed', sans-serif;
  color: black;
  text-align: center;
  word-spacing: 3px;
  margin: 20px; }

p {
  font-family: 'Montserrat', sans-serif;
  text-indent: 10px;
  letter-spacing: 1px;
  font-size: 20px; }

ul {
  font-family: 'Montserrat', sans-serif;
  background-color: #d9d9d9;
  padding: 20px;
  list-style-type: none;
  text-align: center; }

@media (max-width: 1200px) {
  .container {
    width: 800px; } }

@media (max-width: 850px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr); }
  .mainNosotros img {
    width: 600px;
    height: 500px; }
  .container {
    width: 500px; } }

@media (max-width: 680px) {
  .header {
    flex-direction: column; }
  .mainIndex img {
    width: 500px;
    height: 300px; }
  .main iframe {
    width: 250px;
    height: 250px; }
  .mainNosotros img {
    width: 300px;
    height: 300px; }
  .container {
    width: 300px; } }

@media (max-width: 575px) {
  .container {
    width: 200px; } }
