*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;400;700&family=Montserrat:wght@100;400;700&display=swap');

@import './secciones/barra-de-navegacion.scss';

@import './secciones/index-main.scss';

@import './secciones/estilos-generales';

@import './media-queries/media-queries';


