*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import './variables/colores';

@import './variables/tipografia';

@import './variables/extend';

@import './variables/mixin';

@import './secciones/barra-de-navegacion.scss';

@import './secciones/index-main.scss';

@import './secciones/estilos-generales';

@import './media-queries/media-queries';


