
body {
    background-color: #d9d9d9 !important;

}

main {
    min-height: 80vh;
}


h1 {
    font-family: $tipografiaG;
    text-align: center; 
    
}

h3 {
    font-family: $tipografiaP;
    color: black;
    text-align: center;
    word-spacing: 0.5px;
    margin: 20px;

}

p {
    font-family: $tipografiaP;
    text-indent: 10px;
    letter-spacing: 1px;
    font-size: 26px;
}

ul {
    
    background-color: #d9d9d9;
    padding: 20px;
    list-style-type: none;
    text-align: center;
}

li{
    font-family: $tipografiaG;
}



