
.mainNosotros { 


        div {
            display: flex;
            justify-content: center;
        }


        p {
            margin: 50px;
            padding: 10px 15px 10px 15px;
        }

        h1 {
            margin: 50px;
        }

        img {
            width: 800px;
            height: 700px;
        }
 }

.modelos {
        display: flex;
        flex-direction: column;
        align-items: center;
}



.mainIndex {
    margin: 40px;
}

.mainIframe { 

        div {
            display: flex;
            flex-direction: row;
            justify-content: end;
            flex-wrap: wrap;
        }


        p {
            margin: 50px;
            padding: 10px 15px 10px 15px;
        }

        // iframe{
        //     display:flex;
        //    justify-content: end;
        //     margin-right: 50px;
        // }
}

.footer { 

        p {
            text-align: center;
            margin: 10px;
        }

        a {
            padding: 5px;
            margin: 20px;

                &:hover{
                    transform: scale(1.1);
                    transition: 300ms;

            }
        }

        div {
            display: flex;
            justify-content: center;
        }
}

.grid-container {
    
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    
    justify-content: center;
    justify-items: center;
    grid-row-gap: 5px;
}

.contactForm {
    
    margin: 40px;  

        h1 {
            margin-bottom: 60px;
} 
}