.mainNosotros {

    max-width: 1200px;
    margin: auto;

    img{
        width: 1200px;
        height: 500px;
    }


    div {
        display: flex;
        justify-content: center;
    }


    p {
        margin: 15px;
        text-align: center;
        

    }

    h1 {
        margin: 50px;
    }


}

.modelos {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.mainIndex {
        max-width: 1200px;
        margin: auto;
        

        p{
            margin: 15px;
        }
       
}

.mainIframe {


    h1 {
        text-align: center;
    }

    .grid3 {

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        max-width: 1200px;
        margin: auto;
        justify-content: center;
        justify-items: center;
        grid-row-gap: 5px;

        .row {
            display: flex;
            flex-direction: column;
        }




        div {
            display: flex;

            justify-content: end;
            flex-wrap: wrap;
            margin-right: 20%;

        }


        p {
            margin: 15px;
            float: left;

        }

        li {
            font-family: $tipografiaP;
            font-size: 26px;

        }

        iframe {
            width: 600px;
            height: 500px;


            &:hover {
                transform: scale(1.2);
                transition: 300ms;
            }
        }
    }
}

.footer {

    p {
        text-align: center;
        margin: 10px;
    }

    a {
        padding: 5px;
        margin: 20px;

        &:hover {
            transform: scale(1.1);
            transition: 300ms;

        }
    }

    div {
        display: flex;
        justify-content: center;
    }
}

.grid-container {

    display: grid;
    grid-template-columns: repeat(3, 2fr);
    justify-items: center;
    align-items: end;
    width: 1000px;
    margin: auto;

    .card {
        border-radius: 30px;

        &:hover {
            transform: scale(1.05);
            transition: 500ms;
        }

    }

    .card-text {
        color: rgb(0, 0, 0);
        font-family: &tipografiaG;
    }

    .btn {
        background-color: black;
        color: #d9d9d9;
        border-color: black;
    }

    .card-body {
        background-color: #b4b4b4;

    }

    .card-title {
        color: black;
    }

    .card-img-top {
        height: 400px;
    }

}

.contactForm {

    max-width: 1000px;
    margin: auto;


    h1 {
        margin-bottom: 60px;
    }

    form {
        align-items: center;
    }

    input {

        &:focus {
            border-radius: 10px;
            background-color: #6ca7ff;
            transition: all 500ms;
        }
    }
}